<!doctype html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <div class="header_content">
            <div class="header_top">
                <a href="/register">
                    회원가입
                </a>
                <a href="/login">
                    로그인
                </a>
                <a href="/upload">
                    업로드
                </a>
            </div>
        </div>
        <div class="header_hr"></div>
        <div class="header_wrap"></div>
    </body>
</html>